<ion-view data-comp-id="ionic-view.1">
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <form>
            <div data-comp-id="div.1" style="width: 80%; margin: 2% 10%; padding: 20px 0px;">
                <!--User Input-->
                <div class="text-center assertive" data-comp-id="text.1"
                    ng-bind="data.errorMessage" ng-show="data.errorMessage">Some text</div>
                <div class="row" data-comp-id="row.1">
                    <div class="col" data-comp-id="column.1">
                        <label class="item item-input" data-comp-id="textInput.1"
                            style="margin: 1% 0% 0%; border-color: rgba(255, 255, 255, 0); border-radius: 10px;">
                            <i class="icon placeholder-icon ion-ios-person"
                                style="font-size: 24px; color: #dedacf"></i>
                            <input ng-model="data.username" placeholder="Username" type="text">
                        </label>
                    </div>
                </div>
                <!--User Input-->
                <!--User Input-->
                <div class="row" data-comp-id="row.2">
                    <div class="col" data-comp-id="column.2">
                        <label class="item item-input" data-comp-id="textInput.2"
                            style="margin: 1% 0% 0%; border-color: rgba(255, 255, 255, 0); border-radius: 10px;">
                            <i class="icon placeholder-icon ion-ios-locked"
                                style="font-size: 24px; color: #dedacf"></i>
                            <input ng-model="data.password" placeholder="Password" type="password">
                        </label>
                    </div>
                </div>
                <!--User Input-->
                <div class="row" data-comp-id="row.3" style="margin: 5% 0%;">
                    <div class="col" data-comp-id="column.3">
                        <input class="button button-block button-energized" data-comp-id="button.1"
                            ng-click="login()"
                            style="border-color: rgba(255, 255, 255, 0); border-radius: 10px;" type="submit"
                            value="Login">
                        <div class="row" data-comp-id="row.5" ng-click="loginViaTouch()">
                            <div class="col text-center" data-comp-id="column.5"
                                style="border-width: 1px; border-style: solid; border-color: #006BB6;">
                                <span><img data-comp-id="image.2" data-img="" ng-src="images/login/touch-id.png"
                                    style="vertical-align: middle; width: 50px;"></span>
                                <span class="" data-comp-id="text.3" style="color: rgb(74, 69, 69);">login with touch id</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div data-comp-id="div.2" style="margin: 4% 5%;">
            <div class="row" data-comp-id="row.4">
                <div class="col text-center" data-comp-id="column.4" style="padding: 20px;"><img data-comp-id="image.1" data-img="" ng-src="images/login/Placeholder-Img.png"
                    style="width: 30%; margin: 10px;">
                    <div class=" light" data-comp-id="text.2"
                        style="font-size: 16px; line-height: 30px; font-weight: normal;">Tagline goes here</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>