<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Small Form</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" calm-bg" data-comp-id="ionic-content.1">
        <!--Form Contents-->
        <div data-comp-id="div.1" style="margin: 10% 10% 2%;">
            <label class="item item-input item-stacked-label light-bg"
                data-comp-id="textInput.1">
                <span class="input-label dark" style="color: rgb(136, 136, 136);">Name</span>
                <input ng-model="data.name" type="text">
            </label>
        </div>
        <div class=" light-bg" data-comp-id="div.2" style="margin: 2% 10%;">
            <label class="item item-input item-stacked-label" data-comp-id="textInput.2">
                <span class="input-label" style="color: rgb(136, 136, 136);">Phone</span>
                <input ng-model="data.phone" type="text">
            </label>
        </div>
        <div class=" light-bg" data-comp-id="div.3" style="margin: 2% 10%;">
            <label class="item item-input item-stacked-label" data-comp-id="textInput.3">
                <span class="input-label" style="color: rgb(136, 136, 136);">Email</span>
                <input ng-model="data.email" type="text">
            </label>
        </div>
        <div data-comp-id="div.4" style="margin: 2% 10%;"></div>
        <div data-comp-id="div.5" style="margin: 2% 10%;"></div>
        <div data-comp-id="div.6" style="margin: 2% 10%;">
            <ion-checkbox
                class="checkbox-style-square checkbox-position-right positive-icon-checked positive-icon-border"
                data-comp-id="checkbox.1" ng-model="data.CheckBoxOne.selected[$index]"
                ng-repeat="item in data.CheckBoxOne.options track by $index">{{item.label}}</ion-checkbox>
        </div>
        <div data-comp-id="div.7" style="width: 80%; margin: 10%;">
            <div class="row" data-comp-id="row.1" style="margin: 0px;">
                <div class="col" data-comp-id="column.1">
                    <button class="button button-block button-positive" data-comp-id="button.3"
                        ng-click="app.action('form', 'submit', this)"
                        style="border-color: rgba(255, 255, 255, 0);">Submit</button>
                </div>
            </div>
        </div>
        <!--Form Contents-->
    </ion-content>
</ion-view>