<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">List View</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1" ng-repeat="item in data.urgentreguestlist"
            style="border-radius: 10px;" type=" card">
            <div class="card" data-comp-display="card.1" data-comp-id="div.1">
                <div data-comp-id="div.2">
                    <div class="row" data-comp-id="row.1">
                        <div class="col" data-comp-id="column.1">
                            <div data-comp-id="text.1">Company:</div>
                        </div>
                        <div class="col" data-comp-id="column.2">
                            <div data-comp-id="text.2" ng-bind="item.company">Company:</div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
        <div data-comp-id="div.3">
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.3">
                    <label class="item item-input" data-comp-id="textInput.1">
                        <span class="input-label">Company:</span>
                        <span ng-model="data.string" type="text"></span>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>