<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">List View</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1" ng-repeat="item in data.listItems"
            style="border-radius: 10px;" type=" card">
            <div class="card" data-comp-display="card.1" data-comp-id="div.1">
                <div data-comp-id="text.1" ng-bind="item.company">Some text</div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>